<ion-content>
	
  <div class="overlay" (click)="clickedOverlay()"></div>
    
  <div class="modal_content">
    <ion-header>
      <ion-navbar>
        <div style="display:flex;align-items: center;">
          <img style="margin-left:10px;float:left;width:32px;height:32px;" src="assets/images/background/App66_logo2.png">
          <ion-title><p style="font-weight:bold">Fotos</p></ion-title>

          <ion-buttons end>
              <button   ion-button icon-only style="padding-right:5px"  (click)="onClickPrev()">
                <ion-icon *ngIf="this.m_nIndexPicture>0" name="arrow-back"></ion-icon>
              </button>
              <button  ion-button icon-only style="padding-left:5px;padding-right:5px" (click)="onClickNext()">
                <ion-icon *ngIf="this.m_nIndexPicture<this.m_CARWAY_Model_Service.m_arrayCARWAY_Model_Service_Item[this.m_nIndexServiceItem].m_ArrayPictures.length-1" name="arrow-forward"></ion-icon>
              </button>
              <button ion-button icon-only style="padding-left:5px;padding-right:5px"  (click)="onClickDelete()">
                <ion-icon name="trash"></ion-icon>
              </button>
              <button ion-button icon-only style="padding-left:5px;padding-right:5px"  (click)="onClickOK()">
                <ion-icon name="checkmark"></ion-icon>
              </button>
            </ion-buttons> 
              </div>
      </ion-navbar>
    </ion-header>

    <div class="separator-large" style="padding-top:50px;"></div>

    <div style="width:100%;display: flex;align-items: center;justify-content: center;">
      <img *ngIf="this.m_sBindShowPicture" [src]="this.m_sBindPictureUrl" style="width:100%;min-height:200px"class="plain-image">
      <img *ngIf="!this.m_sBindShowPicture" src="assets/svg/ball-triangle.svg" style="width:40px;height:40px;margin-top:70px;margin-bottom:90px;">
    </div>

<!--    <ion-footer   style="background-color: #FCD736">
      <div style="padding:8px 0px 8px 0px;width:50%; float:right;text-align: center;" (click)="clickedSave()">
        <ion-icon color="primary" name="checkmark"></ion-icon>
      </div>
      
      <div style="padding:8px 0px 8px 0px;;width:50%; float:right;text-align: center;" (click)="clickedCancel()">
          <ion-icon  color="primary" name="close"></ion-icon>
      </div>
    </ion-footer>
  -->                
  </div>

</ion-content>


