tab-page-3 {
    .fab {
        contain: layout;
    }
    button[ion-fab] {
        overflow: visible;
        position: relative;
        
        ion-label {
            position: absolute;
            top: -12px;
            right: 40px;
            color: #fcd736;
            line-height: 24px;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #424242;
        }
    }


.routingTitle {
    padding-left:10px;
    border-top-left-radius: $var-border-radius;
    border-top-right-radius: $var-border-radius;
    background-color:rgba(66, 66, 66,0.8);
    line-height: $var-title-height;
    text-align:left;
    grid-column: 1 / span 3;
    grid-row: 1 ;
    font-weight: bold;
    }

.service-item-title
{
    font-weight: bold;
    padding: 10px 0px 3px 10px!important;
    text-align: left;
    color:#424242;
}

.service-item-text
{
    padding: 0px 0px 10px 15px!important;
    text-align: left;
    font-size:12px;
}

.service-item-background
{

    background-color:rgba(221, 221, 221,0.7)
}
.divider-title {
    background: #e4e4e4;
    padding: 5px 15px;
}

.routingTotal{
    border-bottom-left-radius: $var-border-radius;
    border-bottom-right-radius: $var-border-radius;
    height: 28px;
    background-color:rgba(66, 66, 66,0.8);
    padding-top:5px;
    // margin-top:3px!important;
    }



.routingToolbar 
{
    height: $var-title-height;
    background-color:rgba(221, 221, 221,0.7);
    padding-top:5px;
}
}