<ion-content>
	
		<div class="overlay" (click)="clickedOverlay()"></div>
		  
		<div class="modal_content">
			<ion-header>
				<ion-navbar>
					<div style="display:flex;align-items: center;">
						<img style="margin-left:10px;float:left;width:32px;height:32px;" src="assets/images/background/App66_logo2.png">
						<ion-title><p style="font-weight:bold">Daten Ihrer Fahrt</p></ion-title>

						<ion-buttons *ngIf="this.m_Type == MyCARWAY_EDIT_TYPE.WIZARD" end>
								<button *ngIf="this.m_State != MyCARWAY_EDIT_STATE.TITLE"  ion-button icon-only style="padding-right:5px"  (click)="onPrevClick()">
									<ion-icon name="arrow-back"></ion-icon>
								</button>
								<button *ngIf="this.m_State != MyCARWAY_EDIT_STATE.AKTION" ion-button icon-only style="padding-left:5px;padding-right:5px" (click)="onNextClick()">
									<ion-icon name="arrow-forward"></ion-icon>
								</button>
								<button *ngIf="this.m_State == MyCARWAY_EDIT_STATE.AKTION" ion-button icon-only style="padding-left:5px;padding-right:5px"  (click)="clickedSave()">
									<ion-icon name="checkmark"></ion-icon>
								</button>
							</ion-buttons> 
								</div>
				</ion-navbar>
			</ion-header>
	
			<div class="separator-large" style="padding-top:60px;"></div>
	
			<!-- TITEL -->
			<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.TITLE" class="item-data" style="background-color:rgba(93,93,93);height:36px;display:flex;align-items: center;">
				<ion-label class="plain-text" no-margin stacked style="float:left;margin:0px;padding:0px 0px 0px 10px;">{{m_sTitleItem}}:</ion-label>
			</ion-row>
			<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.TITLE" style="background-color:rgba(93,93,93);margin:0px 10px 0px 10px;">
				<ion-input #InputKommentar placeholder="Titel" class="plain-text" style="font-weight:bold; padding:0px 5px 0px 5px;border:none;background-color:rgba(114,114,114)" type="text" tabindex="1" name="One"  required  [(ngModel)]="this.m_CARWAY_DayTrack_Provider.m_CARWAY_Model.m_arrayCARWAY_Model_Day[this.m_nDayIndex].m_arrayCARWAY_Model_Track_Single[this.m_nTrackIndex].m_sTitle"></ion-input>
			</ion-row>   
			<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.TITLE" class="item-data" style="background-color:rgba(93,93,93);height:5px;">
	   
			</ion-row> 
			<!-- /TITEL -->
			
			<!--LOCATION-->
				<!-- ZEIT -->
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.START" class="item-data" style="background-color:rgba(93,93,93);height:36px;display:flex;align-items: center;">
					<ion-label class="plain-text" no-margin stacked style="float:left;padding:0px 0px 0px 10px;">{{m_sTitleItem}}zeit:</ion-label>
					<ion-icon *ngIf="this.m_State == MyCARWAY_EDIT_STATE.START" icon-small item-end name="time" color="secondary" style="float:right;padding:0px 10px 0px 0px;" (click)="getActTimeStart()"></ion-icon>
				</ion-row>
				
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.START" style="background-color:rgba(114,114,114);margin:0px 10px 0px 10px;" >
					<ion-input name="Six"  class="plain-text" style="font-weight:bold; width:30px!important;min-width:30px!important;" tabindex="3" required placeholder="00" type="number" #InputHourStart text-right  [ngModel]="this.m_CARWAY_DayTrack_Provider.m_CARWAY_Model.m_arrayCARWAY_Model_Day[this.m_nDayIndex].m_arrayCARWAY_Model_Track_Single[this.m_nTrackIndex].m_GeopositionStart.m_nDateTimeKey | timeHour" (keyup)="onKeyUpHourStart()" (focusout)="focusoutStartHour($event.target.value)"></ion-input>
					<ion-label text-center class="plain-text" style="font-weight:bold; margin-right:0px;margin-left:0px;width:3px;min-width:3px;max-width:3px;">:</ion-label>
					<ion-input  name="Seven" class="plain-text" style="font-weight:bold; width:30px;min-width:30px!important;" tabindex="4" required placeholder="00" type="number" text-left #InputMinuteStart [ngModel]="this.m_CARWAY_DayTrack_Provider.m_CARWAY_Model.m_arrayCARWAY_Model_Day[this.m_nDayIndex].m_arrayCARWAY_Model_Track_Single[this.m_nTrackIndex].m_GeopositionStart.m_nDateTimeKey | timeMinute" (keyup)="onKeyUpMinuteStart()" (focusout)="focusoutStartMinute($event.target.value)"></ion-input>
				</ion-row>		
				
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.START" class="item-data" style="background-color:rgba(93,93,93);height:5px;">
				</ion-row>
				<!-- /ZEIT -->
			
				<div *ngIf="this.m_State == MyCARWAY_EDIT_STATE.START" class="separator-large"></div>
	
				<!-- POSITION -->
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.START" class="item-data" style="background-color:rgba(93,93,93);height:36px;display:flex;align-items: center;;">
					<ion-label no-margin class="plain-text" stacked style="float:left;padding:0px 0px 0px 10px;">{{m_sTitleItem}}position:</ion-label>
					<ion-icon icon-small ion-long-press item-end name="home" color="secondary" style="padding:0px 10px 0px 10px;float:right;" (click)="clickedHome(MyCARWAY_EDIT_STATE.START)" (onPressing)="onLongPress(MyCARWAY_EDIT_STATE.START)"></ion-icon>
					<ion-icon *ngIf="this.m_bGPSInstalled && !this.m_bLocating" icon-small item-end name="locate" color="secondary" style="padding:0px 10px 0px 10px;float:right;" (click)="clickedLoadCurrentLocation(MyCARWAY_EDIT_STATE.START)"></ion-icon>
					<img *ngIf="this.m_bLocating" src="assets/svg/ball-triangle.svg" style="height:36px;width:36px;float:right;padding:0px 10px 0px 10px"/>
				</ion-row>
				
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.START" style="background-color:rgba(93,93,93);margin:0px 10px 0px 10px;">
					<ion-input [placeholder]=m_sTitleItem  style="color: #CCCCCC; padding:0px 5px 0px 5px;border:none;background-color:rgba(114,114,114)" type="text" tabindex="1" name="One" [(ngModel)]="query" (ionChange)="searchPlace()"></ion-input>
				</ion-row>
				
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.START">
					<ion-list *ngIf="this.m_State == MyCARWAY_EDIT_STATE.START && placesStart && placesStart.length>0" style="position: absolute;z-index: 1;">
						<ion-item *ngFor="let place of placesStart" (click)="itemclicked($event)" (touchstart)="selectPlace(MyCARWAY_EDIT_STATE.START,place,$event)">{{place.description}}</ion-item>
					</ion-list>
				</ion-row>
				
				<ion-row [hidden]="this.m_State != MyCARWAY_EDIT_STATE.START" style="background-color:rgba(93,93,93);margin:0px 20px 0px 20px;padding: 5px 0px 5px 0px; ">
					<!-- MAP -->
					<div  [hidden]="this.m_State != MyCARWAY_EDIT_STATE.START || this.m_bLocating" style="margin:10px; height:180px;width:100%;border-radius: 12px;" id="mapStart"></div>
					<div *ngIf="this.m_bLocating" style="margin:10px; height:220px;width:100%;border-radius: 12px;display: flex;align-items: center;justify-content: center;z-index:auto;">
						<img  src="assets/svg/ball-triangle.svg" style="height:36px;width:36px;float:right;padding:0px 10px 0px 10px"/>
					</div>
					<!-- /MAP -->
				</ion-row>
				
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.START" style="height:75px;background-color:rgba(114,114,114);margin:0px 10px 0px 10px;">
					<ion-textarea *ngIf="!this.m_bLocating" text-center readonly rows="4" class="plain-text" stacked style="font-weight:bold; border:none;background-color:rgba(114,114,114);float:left;padding:0px 0px 0px 10px;" [ngModel]="this.m_CARWAY_DayTrack_Provider.m_CARWAY_Model.m_arrayCARWAY_Model_Day[this.m_nDayIndex].m_arrayCARWAY_Model_Track_Single[this.m_nTrackIndex].m_GeopositionStart.m_sFormattedAddress | longAddress"  (ngModelChange)="this.m_CARWAY_DayTrack_Provider.m_CARWAY_Model.m_arrayCARWAY_Model_Day[this.m_nDayIndex].m_arrayCARWAY_Model_Track_Single[this.m_nTrackIndex].m_GeopositionStart.m_sFormattedAddress=$event"></ion-textarea>
					<ion-textarea *ngIf="this.m_bLocating" text-center readonly rows="4" class="plain-text" stacked style="font-weight:bold; border:none;background-color:rgba(114,114,114);float:left;padding:0px 0px 0px 10px;"></ion-textarea>
					
					<ion-icon *ngIf="!this.m_bLocating && this.m_State == MyCARWAY_EDIT_STATE.START && this.m_CARWAY_DayTrack_Provider.m_CARWAY_Model.m_arrayCARWAY_Model_Day[this.m_nDayIndex].m_arrayCARWAY_Model_Track_Single[this.m_nTrackIndex].m_GeopositionStart.m_sFormattedAddress" item-end name="checkmark" color="secondary" style="float:right;align-self: flex-end;padding:0px 10px 2px 0px;"></ion-icon>
				</ion-row>
	
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.START" class="item-data" style="background-color:rgba(93,93,93);height:5px;">
				</ion-row>
				<!-- /POSITION -->

			<!-- /LOCATION-->
	
			<!--LOCATION-->
				<!-- ZEIT -->
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.ZIEL" class="item-data" style="background-color:rgba(93,93,93);height:36px;display:flex;align-items: center;">
					<ion-label class="plain-text" no-margin stacked style="float:left;padding:0px 0px 0px 10px;">{{m_sTitleItem}}zeit:</ion-label>
					<ion-icon *ngIf="this.m_State == MyCARWAY_EDIT_STATE.ZIEL" icon-small item-end name="time" color="secondary" style="float:right;padding:0px 10px 0px 0px;" (click)="getActTimeZiel()"></ion-icon>
				</ion-row>
				
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.ZIEL" style="background-color:rgba(114,114,114);margin:0px 10px 0px 10px;" >
					<ion-input name="Six"  class="plain-text" style="font-weight:bold; width:30px!important;min-width:30px!important;" tabindex="3" required placeholder="00" type="number" #InputHourZiel text-right [ngModel]="this.m_CARWAY_DayTrack_Provider.m_CARWAY_Model.m_arrayCARWAY_Model_Day[this.m_nDayIndex].m_arrayCARWAY_Model_Track_Single[this.m_nTrackIndex].m_GeopositionZiel.m_nDateTimeKey | timeHour"  (keyup)="onKeyUpHourZiel()" (focusout)="focusoutZielHour($event.target.value)"></ion-input>
					<ion-label text-center class="plain-text" style="font-weight:bold; margin-right:0px;margin-left:0px;width:3px;min-width:3px;max-width:3px;">:</ion-label>
					<ion-input  name="Seven" class="plain-text" style="font-weight:bold; width:30px;min-width:30px!important;" tabindex="4" required placeholder="00" type="number" text-left #InputMinuteZiel [ngModel]="this.m_CARWAY_DayTrack_Provider.m_CARWAY_Model.m_arrayCARWAY_Model_Day[this.m_nDayIndex].m_arrayCARWAY_Model_Track_Single[this.m_nTrackIndex].m_GeopositionZiel.m_nDateTimeKey | timeMinute" (keyup)="onKeyUpMinuteZiel()" (focusout)="focusoutZielMinute($event.target.value)"></ion-input>					
				</ion-row>		


				<ion-row no-padding *ngIf="this.m_State == MyCARWAY_EDIT_STATE.ZIEL && m_bNextDay" style="background-color:rgba(93,93,93);margin:0px 10px 0px 10px;" >
					<ion-label no-padding text-center  class="plain-text" style="margin:5px 0px 5px 0px;font-size: 11px">(+ 1 Tag)</ion-label>
				</ion-row>
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.ZIEL && m_bNextDay" style="background-color:rgba(114,114,114);height:5px;margin:0px 10px 0px 10px;">
				</ion-row>
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.ZIEL" class="item-data" style="background-color:rgba(93,93,93);height:5px;">
				</ion-row>
				<!-- /ZEIT -->
				
				<div *ngIf="this.m_State == MyCARWAY_EDIT_STATE.ZIEL" class="separator-large"></div>
	
				<!-- POSITION -->
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.ZIEL" class="item-data"  style="background-color:rgba(93,93,93);height:36px;display:flex;align-items: center;">
					<ion-label no-margin class="plain-text" stacked style="float:left;padding:0px 0px 0px 10px;">{{m_sTitleItem}}position:</ion-label>
					<ion-icon icon-small ion-long-press item-end name="home" color="secondary" style="padding:0px 10px 0px 10px;float:right;" (click)="clickedHome(MyCARWAY_EDIT_STATE.ZIEL)"  (onPressing)="onLongPress(MyCARWAY_EDIT_STATE.ZIEL)"></ion-icon>
					<ion-icon *ngIf="this.m_bGPSInstalled && !this.m_bLocating" icon-small item-end name="locate" color="secondary" style="padding:0px 10px 0px 10px;float:right;" (click)="clickedLoadCurrentLocation(MyCARWAY_EDIT_STATE.ZIEL)"></ion-icon>
					<img *ngIf="this.m_bLocating" src="assets/svg/ball-triangle.svg" style="height:36px;width:36px;float:right;padding:0px 10px 0px 10px"/>
				</ion-row>
				
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.ZIEL" style="background-color:rgba(93,93,93);margin:0px 10px 0px 10px;">
					<ion-input [placeholder]=m_sTitleItem  style="color: #CCCCCC; padding:0px 5px 0px 5px;border:none;background-color:rgba(114,114,114)" type="text" tabindex="1" name="One" [(ngModel)]="query" (ionChange)="searchPlace()"></ion-input>
				</ion-row>
				
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.ZIEL">
					<ion-list *ngIf="this.m_State == MyCARWAY_EDIT_STATE.ZIEL && placesZiel && placesZiel.length>0" style="position: absolute;z-index: 1;">
						<ion-item *ngFor="let place of placesZiel" (click)="itemclicked($event)" (touchstart)="selectPlace(MyCARWAY_EDIT_STATE.ZIEL,place,$event)">{{place.description}}</ion-item>
					</ion-list>
				</ion-row>
				
				<ion-row [hidden]="this.m_State != MyCARWAY_EDIT_STATE.ZIEL" style="background-color:rgba(93,93,93);margin:0px 20px 0px 20px;padding: 5px 0px 5px 0px; ">
					<!-- MAP -->
					<div  [hidden]="this.m_State != MyCARWAY_EDIT_STATE.ZIEL || this.m_bLocating" style="margin:10px; height:180px;width:100%;border-radius: 12px;" id="mapZiel"></div>
					<div *ngIf="this.m_bLocating" style="margin:10px; height:220px;width:100%;border-radius: 12px;display: flex;align-items: center;justify-content: center;z-index:auto;">
						<img  src="assets/svg/ball-triangle.svg" style="height:36px;width:36px;float:right;padding:0px 10px 0px 10px"/>
					</div>
					<!-- /MAP -->
				</ion-row>
				
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.ZIEL" style="height:75px;background-color:rgba(114,114,114);margin:0px 10px 0px 10px;">
					<ion-textarea *ngIf="!this.m_bLocating" text-center readonly rows="4" class="plain-text" stacked style="font-weight:bold; border:none;background-color:rgba(114,114,114);float:left;padding:0px 0px 0px 10px;" [ngModel]="this.m_CARWAY_DayTrack_Provider.m_CARWAY_Model.m_arrayCARWAY_Model_Day[this.m_nDayIndex].m_arrayCARWAY_Model_Track_Single[this.m_nTrackIndex].m_GeopositionZiel.m_sFormattedAddress | longAddress"  (ngModelChange)="this.m_CARWAY_DayTrack_Provider.m_CARWAY_Model.m_arrayCARWAY_Model_Day[this.m_nDayIndex].m_arrayCARWAY_Model_Track_Single[this.m_nTrackIndex].m_GeopositionZiel.m_sFormattedAddress=$event"></ion-textarea>
					<ion-textarea *ngIf="this.m_bLocating" text-center readonly rows="4" class="plain-text" stacked style="font-weight:bold; border:none;background-color:rgba(114,114,114);float:left;padding:0px 0px 0px 10px;"></ion-textarea>
					<ion-icon *ngIf="!this.m_bLocating && this.m_State == MyCARWAY_EDIT_STATE.ZIEL && this.m_CARWAY_DayTrack_Provider.m_CARWAY_Model.m_arrayCARWAY_Model_Day[this.m_nDayIndex].m_arrayCARWAY_Model_Track_Single[this.m_nTrackIndex].m_GeopositionZiel.m_sFormattedAddress" item-end name="checkmark" color="secondary" style="float:right;align-self: flex-end;padding:0px 10px 2px 0px;"></ion-icon>
				</ion-row>
	
				<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.ZIEL" class="item-data" style="background-color:rgba(93,93,93);height:5px;">
				</ion-row>
	
				<!-- /POSITION -->
			<!-- /LOCATION-->
			
			<!-- KOMMENTAR -->
			<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.KOMMENTAR" class="item-data" style="background-color:rgba(93,93,93);height:36px;display:flex;align-items: center;">
				<ion-label class="plain-text" no-margin stacked style="float:left;margin:0px;padding:0px 0px 0px 10px;">{{m_sTitleItem}}:</ion-label>
			</ion-row>
			<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.KOMMENTAR" style="background-color:rgba(93,93,93);margin:0px 10px 0px 10px;">
				<ion-input #InputKommentar placeholder="Kommentar" class="plain-text" style="font-weight:bold; padding:0px 5px 0px 5px;border:none;background-color: rgba(200,200,200,0.2);" type="text" tabindex="1" name="One"  required  [(ngModel)]="this.m_CARWAY_DayTrack_Provider.m_CARWAY_Model.m_arrayCARWAY_Model_Day[this.m_nDayIndex].m_arrayCARWAY_Model_Track_Single[this.m_nTrackIndex].m_sComment"></ion-input>
			</ion-row>
			<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.KOMMENTAR" class="item-data" style="background-color:rgba(93,93,93);height:5px;">
			</ion-row>
			<!-- /KOMMENTAR -->
	
			<!-- COMBO -->
			<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.AKTION " class="item-data" style="background-color:rgba(93,93,93);height:36px;display:flex;align-items: center;">
				<ion-label no-margin class="plain-text" stacked style="float:left;margin:0px;padding:0px 0px 0px 10px;">{{m_sTitleItem}}:</ion-label>
				<img *ngIf="m_bLocating" src="assets/svg/ball-triangle.svg" style="height:30px;width:30px;float:right;padding:5px 10px 5px 10px"/>
			</ion-row>
			<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.AKTION" style="background-color:rgba(93,93,93);margin:0px 10px 0px 10px;">
				<div style="padding-right:10px;background-color:rgba(200,200,200,0.2);width:100%;">
					<ion-select  placeholder="Report" name="Eight" tabindex="8" style="font-weight:bold; width:100%;min-width:100%;color:#FCD736;" [(ngModel)]="this.m_CARWAY_DayTrack_Provider.m_CARWAY_Model.m_arrayCARWAY_Model_Day[this.m_nDayIndex].m_arrayCARWAY_Model_Track_Single[this.m_nTrackIndex].m_sReport">
						<ion-option *ngFor="let status of this.m_saBindOrderStati" value="{{status}}">{{status}}</ion-option>		
					</ion-select>
				</div>
			</ion-row>
			
			<ion-row *ngIf="this.m_State == MyCARWAY_EDIT_STATE.AKTION" class="item-data"  style="background-color:rgba(93,93,93);height:5px;">
			</ion-row>
			<!-- /COMBO -->
			
			<div *ngIf="this.m_Type == MyCARWAY_EDIT_TYPE.SINGLE" style="padding-top:40px;"></div>
			<ion-footer  *ngIf="this.m_Type == MyCARWAY_EDIT_TYPE.SINGLE" style="background-color: #FCD736">
				<div style="padding:8px 0px 8px 0px;width:50%; float:right;text-align: center;" (click)="clickedSave()">
					<ion-icon color="primary" name="checkmark"></ion-icon>
				</div>
				
				<div style="padding:8px 0px 8px 0px;;width:50%; float:right;text-align: center;" (click)="clickedCancel()">
						<ion-icon  color="primary" name="close"></ion-icon>
				</div>
			</ion-footer>
											
		</div>
	
	</ion-content>
	

	